git:
  depth: 1

branches:
  only:
    - master

sudo: false

language: node_js

node_js:
  - "4"
  - "5"
  - "6"
  - "7"
  - "8"

cache:
  directories:
  - node_modules

before_script:
  - npm prune

script:
  - npm run lint
  - npm test
  - npm run coverage
