name: "ci"

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3.0.0
        with:
          node-version: '14'
      - run: npm ci --no-progress
      - run: npm run build
      - run: npm run lint

  test:
    name: Test using Node.js ${{ matrix.node }} running on ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node: [14, 16]
        # TODO: Add windows-latest
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3.0.0
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci --no-progress
      - run: npm run build
      - run: npm run test:ci
